[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible-modules-pm2 = {extras = ["dev"],path = "."}

[packages]
ansible-modules-pm2 = {path = "."}

[pipenv]
allow_prereleases = true
