[![Test CI](https://github.com/10sr/ansible-modules-pm2/workflows/Test%20CI/badge.svg)](https://github.com/10sr/ansible-modules-pm2/actions)
[![PyPI](https://img.shields.io/pypi/v/ansible-modules-pm2)](https://pypi.org/project/ansible-modules-pm2/)



ansible-modules-pm2
===================

Manage processes via [PM2](https://pm2.keymetrics.io/)

{% for desc in descriptions -%}
- {{ desc | trim(".") }}
{% endfor %}


Usage
=====


Examples
--------


```yaml
{{ examples }}
```


Arguments
---------

{{ arguments_table }}

License
=======

This software is licensed under GPLv3. See `LICENSE` for details.
