![Test CI](https://github.com/10sr/ansible-modules-pm2/workflows/Test%20CI/badge.svg)


ansible-modules-pm2
===================

Manage processes via [pm2](https://pm2.keymetrics.io/)

{% for desc in descriptions -%}
- {{ desc | trim(".") }}
{% endfor %}


Usage
=====


Examples
--------


```yaml
{{ examples }}
```


Arguments
---------

{{ arguments_table }}

License
=======

This software is licensed under GPLv3. See `LICENSE` for details.
